body {
    margin: 0;
}

.main-container {
    background-color: #3a3b3c;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.card {
    width: fit-content;
    position: absolute;
    height: 400px;
    transition: all 1s ease;
}


.character-image {
    height: 100%;
    cursor: pointer;
}

.card:nth-child(1) {
    top: 10%;
    left: 2%;
    z-index: 8;
}

.card:nth-child(2) {
    top: 25%;
    left: 13%;
    z-index: 9;

}

.card:nth-child(3) {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

.card:nth-child(4) {
    top: 20%;
    right: 10%;
    z-index: 9;

}

.card:nth-child(5) {
    top: 10%;
    right: 1%;
    z-index: 8;

}

.card:nth-child(3) {
    height: 600px;
}


.card:not(:hover) {
    filter: grayscale(1) blur(2px);
}

.text-div {
    position: absolute;
    bottom: 2%;
    right: 10%;
    z-index: 10;
}

.text-div h3 {
    color: #01ffff;
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Poppins", sans-serif;

}

.background-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: grayscale(60%);
}