body {
    margin: 0;
}

.main-container {
    background-color: red;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.card {
    background-color: yellow;
    width: fit-content;
    position: absolute;
}



.title-text {
    color: pink;
    margin: 0;
    text-align: center;
}

.character-image {
    background-color: blue;
    height: 400px;
}

.card:nth-child(1) {
    top: 10%;
    left: 2%;
    z-index: 8;
}

.card:nth-child(2) {
    top: 20%;
    left: 10%;
    z-index: 9;

}

.card:nth-child(3) {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}

.card:nth-child(4) {
    top: 20%;
    right: 10%;
    z-index: 9;

}

.card:nth-child(5) {
    top: 10%;
    right: 2%;
    z-index: 8;

}

.card:nth-child(3) .character-image {
    height: 600px;
}